/*--AJUSTES GENERALES--*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --color1: #FFFFFF;
    --color2: #5cA265;
    --color3: #047863;
    --color4:#15373E;
    --color5:black;
}
/*-------------MODELO DE COLOCACIÓN DEL CONTENIDO-------------*/

/*COMIENZO DE MEDIDAS*/
/*----(Contenido)----*/
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
/*----(Contenido)----*/
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/
/*----(Contenido)----*/
/*FINAL DE AJUSTES VARIOS*/


/*---------------------COMIENZO DE LA PRESENTACIÓN---------------------*/



/*---COMIENZO DEL HEADER---*/

header {

/*COMIENZO DE MEDIDAS*/
width: 100%;
height: 35rem;
/*FIN DE MEDIDAS*/

}

/*---COMIENZO DEL HEADER COLLAPSE---*/

header .collapse {

/*COMIENZO DE MEDIDAS*/
width: 100%;
height: 6rem;
padding-top: 2em;
z-index: 1;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
justify-content: center;
align-content: center;
position: fixed;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/
backdrop-filter: blur(10px);
/*FINAL DE AJUSTES VARIOS*/

}


header .collapse .btn {  

/*COMIENZO DE MEDIDAS*/

/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/

/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/
background: none;
color: var(--color5);
border: none;
/*FINAL DE AJUSTES VARIOS*/

}



header .collapse li {

/*COMIENZO DE MEDIDAS*/
margin-right: 4em;
margin-left: 4em;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/

/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/
color: #00A561;
/*FINAL DE AJUSTES VARIOS*/

}

/*---FINAL DEL HEADER COLLAPSE---*/

/*---COMIENZO DEL HEADER CONTAINER---*/

header .container {

/*COMIENZO DE MEDIDAS*/
width: 100%;
height: 78%;
margin-top: 1em;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
justify-content: center;
align-content: start;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/

}

header .container .col {
    
/*COMIENZO DE MEDIDAS*/
width: 100%;
height: 25rem;
margin: 1em;
/*FIN DE MEDIDAS*/
/* COMIENZO DE ALINEACIÓN*/
justify-content: center;
align-content: center;
text-align: left;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/

}

header .container .col a {

/*COMIENZO DE MEDIDAS*/
width: 20%;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
justify-content: start;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/
background-color:#047863;
border-style: none;
/*FINAL DE AJUSTES VARIOS*/

}

header .container .col {

/*COMIENZO DE MEDIDAS*/
width: 50%;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
display: flex;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/

}

header .container .col .img_1 {

/*COMIENZO DE MEDIDAS*/
width: 100%;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
align-content: center;
text-align: center;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/
background-color: #047863;
/*FINAL DE AJUSTES VARIOS*/

}

header .container .col .img_1 img{

/*COMIENZO DE MEDIDAS*/
width: 20%;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/

/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/
background-color: #047863;
/*FINAL DE AJUSTES VARIOS*/

}

header .container .col .img_2 {

/*COMIENZO DE MEDIDAS*/
width: 100%;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
align-content: center;
text-align: center;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/
background-color: #5cA265;
/*FINAL DE AJUSTES VARIOS*/

}

header .container .col .img_2 img {

/*COMIENZO DE MEDIDAS*/
width: 80%;

/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/

/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/
background-color: #15373E;
/*FINAL DE AJUSTES VARIOS*/

}

/*---FINAL DE CARD IMG---*/   

/*---COMIENZO DE BODY---*/

#card-info .container .col {

/*COMIENZO DE MEDIDAS*/
width: 100%;
height: 9em;
border-radius: 2em;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/

/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/

}

/*---FINAL DEL HEADER---*/

/*---FINAL DEL HEADER CONTAINER---*/

/*---FIANL DEL HEADER---*/


/*---------------------FINAL DE LA PRESENTACIÓN---------------------*/

/*---------------------COMIENZO DE INDUSTRIA Y ACCESORIOS (NUEVO EVENTOS)---------------------*/


#carteles {

/*COMIENZO DE MEDIDAS*/

/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
display: flex;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/

}

#carteles .card_1 {

/*COMIENZO DE MEDIDAS*/
width: 50%;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
text-align: left;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/

}

#carteles .card_1 img {

/*COMIENZO DE MEDIDAS*/
width: 15em;
margin-bottom: 2em;
margin-left: 4em;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/

/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/

}

#carteles .card_1 p {

/*COMIENZO DE MEDIDAS*/
width: 90%;
height: 412px;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
  margin-left: 2em;
  margin-right: 2em;
  padding: 2em;
  text-align: left;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/
  background-color: var(--color2);
  color: var(--color1);
/*FINAL DE AJUSTES VARIOS*/
  
}

#carteles .card_2 {

/*COMIENZO DE MEDIDAS*/
width: 50%;
height: 100%;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/

/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/

}

#carteles .card_2 h2 {

/*COMIENZO DE MEDIDAS*/

/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
text-align: center;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/
color: var(--color2);
/*FINAL DE AJUSTES VARIOS*/

}

  
#carteles .card_2 img {

/*COMIENZO DE MEDIDAS*/
width: 100%;
padding-right: 2em;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/

/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/

}
    

/*---------------------FINAL DE INDUSTROA Y ACCESORIOS (NUEVO EVENTOS)---------------------*/

/*---------------------COMIENZO DE TIENDA---------------------*/

/*---COMIENZO DEL HEADER---*/


/*---FINAL DEL HEADER COLLAPSE---*/

/*---COMIENZO DEL HEADER CONTAINER---*/


#tipos-de-gafas {

/*COMIENZO DE MEDIDAS*/
margin-left: 1em;
margin-right: 1em;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
justify-content: center;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/

}


#banner {

/*COMIENZO DE MEDIDAS*/
margin-left: 3em;
margin-right: 3em;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
justify-content: center;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/
/*FINAL DE AJUSTES VARIOS*/

}

#banner .card  {

/*COMIENZO DE MEDIDAS*/
width: 100%;
height: 20rem;
margin-top: 1em;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
display: flex;
justify-content: center;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/
    
}


#banner .card #banner_img  {

/*COMIENZO DE MEDIDAS*/
width: 100%;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
display: flex;
text-align: center;
align-items: center;
justify-content: space-between;
padding: 2em;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/
      
  }

#banner .card #banner_img img  {

/*COMIENZO DE MEDIDAS*/
width: 20em;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/

/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/
      
}

#banner .card #texto  {

/*COMIENZO DE MEDIDAS*/
width: 100%;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
padding: 2em;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/
background-color: var(--color2);
/*FINAL DE AJUSTES VARIOS*/
    
}

#banner .card #texto h2  {

/*COMIENZO DE MEDIDAS*/

/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/

/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/
color: var(--color1);
/*FINAL DE AJUSTES VARIOS*/
      
}

#banner .card #texto p  {

/*COMIENZO DE MEDIDAS*/

/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/

/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/
color: var(--color1);
/*FINAL DE AJUSTES VARIOS*/

}

#banner .card #texto a  {

/*COMIENZO DE MEDIDAS*/

/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/

/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/
color: var(--color1);
text-decoration: none;
/*FINAL DE AJUSTES VARIOS*/
        
}

#banner_2 .card  {

/*COMIENZO DE MEDIDAS*/
margin-left: 3em;
margin-right: 3em;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
flex-direction: column;
flex-direction: row;
flex-direction: row-reverse;
justify-content: space-around;
/*FINAL DE ALINEACIÓN*/

/*COMIENZO DE AJUSTES VARIOS*/
background-color: var(--color2);
/*FINAL DE AJUSTES VARIOS*/
   
}

#banner_2 .card img  {

/*COMIENZO DE MEDIDAS*/
margin-top: 1em;
margin-bottom: 1em;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/

/*FINAL DE ALINEACIÓN*/

/*COMIENZO DE AJUSTES VARIOS*/
color: var(--color1);
/*FINAL DE AJUSTES VARIOS*/
    
}

#banner_2 .card .info_text {

/*COMIENZO DE MEDIDAS*/

/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/


/*FINAL DE ALINEACIÓN*/

/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/
    
}

#banner_2 .card .info_text .logo img {

/*COMIENZO DE MEDIDAS*/
width: 20em;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/

border-radius: 0;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/
    
}
  

#banner_2 .card .info_text h2 {

/*COMIENZO DE MEDIDAS*/
width: 100%;
height: 3em;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
margin-bottom: 0;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/
color: var(--color1);
/*FINAL DE AJUSTES VARIOS*/
    
}

#banner_2 .card .info_text p {

/*COMIENZO DE MEDIDAS*/
width: 600px;
margin-top: 0;
padding-left: 0.5em;
padding-right: 0.5em;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
text-justify:auto;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/
color: var(--color1);
/*FINAL DE AJUSTES VARIOS*/
    
}

#descuentos {

 /*COMIENZO DE MEDIDAS*/
width: 100%;
margin-top: 2em;
  /*FIN DE MEDIDAS*/
  /*COMIENZO DE ALINEACIÓN*/
 display: flex;
 justify-content: center;
  /*FINAL DE ALINEACIÓN*/
  /*COMIENZO DE AJUSTES VARIOS*/

  /*FINAL DE AJUSTES VARIOS*/

}

#descuentos .card {

 /*COMIENZO DE MEDIDAS*/

width: 91%;
margin-left: 3em;
margin-right: 3em;
  /*FIN DE MEDIDAS*/
  /*COMIENZO DE ALINEACIÓN*/
 
  /*FINAL DE ALINEACIÓN*/
  /*COMIENZO DE AJUSTES VARIOS*/
background-color: #15373E;
  /*FINAL DE AJUSTES VARIOS*/

}

#descuentos .card .modal-content {

/*COMIENZO DE MEDIDAS*/
width: 700px;
 /*FIN DE MEDIDAS*/
 /*COMIENZO DE ALINEACIÓN*/

 /*FINAL DE ALINEACIÓN*/
 /*COMIENZO DE AJUSTES VARIOS*/

 /*FINAL DE AJUSTES VARIOS*/

}

#descuentos .card h2 {

  /*COMIENZO DE MEDIDAS*/
  width: 100%;
   /*FIN DE MEDIDAS*/
   /*COMIENZO DE ALINEACIÓN*/
  text-align: center;
   /*FINAL DE ALINEACIÓN*/
   /*COMIENZO DE AJUSTES VARIOS*/
  color: var(--color1);
   /*FINAL DE AJUSTES VARIOS*/
  
  }

#descuentos .card p {

/*COMIENZO DE MEDIDAS*/
width: 100%;
 /*FIN DE MEDIDAS*/
 /*COMIENZO DE ALINEACIÓN*/
text-align: center;
 /*FINAL DE ALINEACIÓN*/
 /*COMIENZO DE AJUSTES VARIOS*/
color: var(--color1);
 /*FINAL DE AJUSTES VARIOS*/

}

#descuentos .card a {

/*COMIENZO DE MEDIDAS*/
width: 100%;
 /*FIN DE MEDIDAS*/
 /*COMIENZO DE ALINEACIÓN*/
text-align: center;
 /*FINAL DE ALINEACIÓN*/
 /*COMIENZO DE AJUSTES VARIOS*/
color: var(--color1);
text-decoration: none;
 /*FINAL DE AJUSTES VARIOS*/

}

/*---FINAL DE CARD IMG---*/   

/*---COMIENZO DE BODY---*/

#frentes {

/*COMIENZO DE MEDIDAS*/
padding: 1em;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
justify-content: center;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/

}

#frentes #clase-1, #clase-2, #clase-3 {
    
/*COMIENZO DE MEDIDAS*/
width: 98%;
margin-left: 1em;
margin-right: 1em;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
justify-content: center;
display: flex;
justify-content: center;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/
    
}

#frentes .card  {

 /*COMIENZO DE MEDIDAS*/

margin-left: 1em;
margin-right: 1em;
padding: 2em;
border-radius: 30px;
 /*FIN DE MEDIDAS*/
 /*COMIENZO DE ALINEACIÓN*/

 /*FINAL DE ALINEACIÓN*/
 /*COMIENZO DE AJUSTES VARIOS*/

 /*FINAL DE AJUSTES VARIOS*/
 
}

#varillas {

/*COMIENZO DE MEDIDAS*/
padding: 1em;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
justify-content: center;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/

}

#varillas #clase-1, #clase-2 {
    
/*COMIENZO DE MEDIDAS*/
width: 98%;
margin-left: 1em;
margin-right: 1em;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
justify-content: center;
display: flex;
justify-content: center;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/
    
}

#varillas .card  {

 /*COMIENZO DE MEDIDAS*/

margin-left: 1em;
margin-right: 1em;
padding: 2em;
border-radius: 30px;
 /*FIN DE MEDIDAS*/
 /*COMIENZO DE ALINEACIÓN*/

 /*FINAL DE ALINEACIÓN*/
 /*COMIENZO DE AJUSTES VARIOS*/

 /*FINAL DE AJUSTES VARIOS*/
 
}
      

/*---FINAL DE BODY---*/

/*---------------------FINAL DE TIENDA---------------------*/

/*---------------------COMIENZO DE CONTACTO---------------------*/

#contactanos {

 /*COMIENZO DE MEDIDAS*/
 width: 100%;
height: 30rem;
 /*FIN DE MEDIDAS*/
 /*COMIENZO DE ALINEACIÓN*/
display: flex;
 /*FINAL DE ALINEACIÓN*/
 /*COMIENZO DE AJUSTES VARIOS*/

 /*FINAL DE AJUSTES VARIOS*/

}

#contactanos #text-cont {

/*COMIENZO DE MEDIDAS*/
width: 100%;
height: 30rem;
padding: 1em;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
display: flex;
flex-direction: column;
text-align: start;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/

}

#text-cont .mb-3 {

/*COMIENZO DE MEDIDAS*/
width: 100%;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/

/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/

}

#text-cont button {

/*COMIENZO DE MEDIDAS*/
width: 20%;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/

/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/

}

#text-cont .form-check {

/*COMIENZO DE MEDIDAS*/
width: 30%;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
margin-top: 1em;
margin-bottom: 1em;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/

}

#contactanos .row {

/*COMIENZO DE MEDIDAS*/
width: 100%;
height: 30rem;
padding: 1em;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
display: flex;
flex-direction: column;
align-items: center;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/

}

#contactanos .row .col {

/*COMIENZO DE MEDIDAS*/
width: 90%;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/

/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/

}

#contactanos .row .mb-3 {

/*COMIENZO DE MEDIDAS*/
width: 90%;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/

/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/

}


/*---------------------FINAL DE CONTACTO---------------------*/

/*---------------------COMIENZO DE REGISTRO---------------------*/
#registro {

/*COMIENZO DE MEDIDAS*/
width: 100%;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/

/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/

}

#registro .row {

/*COMIENZO DE MEDIDAS*/
width: 100%;
height: 500px;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/

/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/
background-color: #15373E;
/*FINAL DE AJUSTES VARIOS*/

}

#registro .row .mb-3{

/*COMIENZO DE MEDIDAS*/
width: 30%;
height: 400px;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/

flex-direction: column;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/
background-color: #5cA265;
/*FINAL DE AJUSTES VARIOS*/

}

/*---------------------FINAL DE REGISTRO---------------------*/


/*---------------------PRUEBA RA--------------------*/

#seccion-btn {
/*COMIENZO DE MEDIDAS*/
margin: 2em;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/

/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/
}


#realidad {
/*COMIENZO DE MEDIDAS*/

/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
text-align: center;
display: inline-block;
position: relative;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/
}

#video_state {
/*COMIENZO DE MEDIDAS*/
height: 100vh;
margin: 0;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
display: flex;
justify-content: center;
align-items: center;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/
}

#videoElement, #canvasElement {
/*COMIENZO DE MEDIDAS*/
margin: 0 10px;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/

/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/
border: 2px solid black;
border-radius: 8px;
/*FINAL DE AJUSTES VARIOS*/
}

.carousel {
/*COMIENZO DE MEDIDAS*/
width: 100%;
height: 10em;
position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  top: 70%;
align-content: center;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
text-align: center;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/
}

.carousel  .aden{
/*COMIENZO DE MEDIDAS*/
width: 100%;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
align-content: center;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/
}

.carousel .aden img {
/*COMIENZO DE MEDIDAS*/
width: 30%;
height: 10%;
/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/
object-fit: cover;
background: none;
/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/
}


.carousel-control-prev-icon {
/*COMIENZO DE MEDIDAS*/

/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/

/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/
}

.carousel-control-next-icon {
/*COMIENZO DE MEDIDAS*/

/*FIN DE MEDIDAS*/
/*COMIENZO DE ALINEACIÓN*/

/*FINAL DE ALINEACIÓN*/
/*COMIENZO DE AJUSTES VARIOS*/

/*FINAL DE AJUSTES VARIOS*/
}

