/*--AJUSTES GENERALES--*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --color0:  rgb(49, 191, 68);
    --color1: #ffffff;
    --color2: #e0e0e0;
    --color3: #000000;
    --color4:#FF7A59;
    --color5: #cd3f3f;
}

/*-----------COMIENZO DE SOBRE NOSOTROS-----------*/

/*--COMIENZO DEL HEADER--*/

 header #header{
width: 100%;
text-align: center;
}

header {
text-align: center;
}

body {
  background: linear-gradient(rgb(0, 0, 0), rgb(175, 215, 255));
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
color: var(--color1);
}


.navbar {
position: fixed;
width: 100%;
z-index: 1;
background-color: rgb(0, 0, 0);
}


.navbar .collapse {
justify-content: center;
}

.navbar .collapse li{
margin-left: 2em;
margin-right: 2em;
}

.navbar .collapse li a{
color: var(--color1);
font-family:Georgia, 'Times New Roman', Times, serif;
}

#cnt-nosotros {
display: flex;
height: 100vh;
align-items: center;
justify-content: center;
}

#logo h3 {
font-size: 5em;
text-align: left;
margin-bottom: -0.8em;
font-family:Georgia, 'Times New Roman', Times, serif;
color: var(--color1);
}


#logo h1 {
font-size: 17em;
font-family:Georgia, 'Times New Roman', Times, serif;
}

#cnt-nosotros h2 {
font-size: 3em;
font-family:'Times New Roman', Times, serif;
width: 7em;
height: 50%;
text-align: left;
color: var(--color1);
}


#cnt-nosotros img {
width: 50%;
}

#cnt-nosotros .text-img {
height: 15em;
padding: 1em;
text-align: right; 
}

#img-portada {
width: 46%;
text-align: right;
background-color: #cd3f3f;
}

/*--FINAL DEL HEADER--*/


/*-----------FINAL DE SOBRE NOSOTROS-----------*/

/*-----------COMIENZO DE PIEZAS-----------*/

/*--COMIENZO DEL HEADER--*/

#cnt-piezas {
    display: flex;
    padding-top: 3.5em;
    padding-left: 4em;
    height: 50%;
    align-items: center;
    justify-content: center;
    }
    

/*--FINAL DEL HEADER--*/

/*--COMIENZO DEL CONTENIDO--*/

/*--COMIENZO DE CONTENIDO TRIPLE--*/

.carousel-item {
width: 100%;
text-align: left;
height: 20em;
margin-top: -4em;
}

.card {
width: 18rem;
border: none;
border-radius: none;
background: none;
color: var(--color1);
border-radius: 5%;
padding: 2em;
}

.card figure {
align-content: center;
height: 10em;
text-align: center;
}

.card-body {
width: 100%;
text-align: left;
padding-left: 1em;
padding-right: 1em;
padding-bottom: 1em;
}

.card-body Button{
background-color: var(--color1);
color: var(--color3);
border-radius: 5em;
width: 6em;
border: none;
}

.card-body Button:hover {
background-color: var(--color0);
}

.offcanvas button{
background-color: var(--color1);
color: var(--color3);
border-radius: 5em;
width: 10m;
border: none;
}

.offcanvas button:hover{
background-color: var(--color0);
}

.frente {
display: flex;
align-items: center;
text-align: center;
padding-left: 1em;
}

.frente figure img {
width: 100%;

}

.varillas {
display: flex;
align-items: center;
text-align: center;
padding-left: 1em;
}

.varillas figure img {
width: 100%;

}
.terminales {
display: flex;
align-items: center;
text-align: center;
padding-left: 1em;
}

.terminales figure img {
width: 100%;
}


/*--FINAL DE CONTENIDO TRIPLE--*/

/*--COMIENZO DE EQUIPO--*/

#texto-eq {
margin-top: 2em;
margin-bottom: 2em;
text-align: center;
}


#equipo {
display: flex;
justify-content: center;
margin-top: 2em;
margin-bottom: 2em;
}

    
#equipo  img {
width: 20%;
margin: 1em;
}

/*--FINAL DE EQUIPO--*/


/*--FINAL DEL CONTENIDO--*/

/*-----------FINAL DE PIEZAS-----------*/

/*-----------COMIENZO DE HISTORIA-----------*/

/*--COMIENZO DEL HEADER--*/

#cnt-piezas {
display: flex;
padding-top: 3.5em;
height: 50%;
align-items: center;
justify-content: center;
}

#cnt-piezas img {
width: 50%;
}

#cnt-piezas .text-img {
height: 15em;
padding: 1em;
text-align: right;  
}

/*--FINAL DEL HEADER--*/

/*--COMIENZO DE CONTENIDO--*/

/*--COMIENZO DE INDUSTRIA--*/

#texto-ind {
    text-align: center;
    }

.form-select {
margin-bottom: 1em;
}


#frentes {
display: flex;
justify-content: center;
width: 90%;
margin: 0 auto;
padding: 2rem;
flex-wrap: wrap;
gap: 2rem;
}
#frentes img {
width: 20%;
margin: 1em;
        }

#varillas {
display: flex;
justify-content: center;
width: 90%;
margin: 0 auto;
padding: 2rem;
flex-wrap: wrap;
gap: 2rem;
}

#varillas img {
width: 20%;
margin: 1em;
}
    
#terminales {
display: flex;
justify-content: center;
width: 90%;
margin: 0 auto;
padding: 2rem;
flex-wrap: wrap;
gap: 2rem;
}
#terminales img {
width: 20%;
margin: 1em;
}

        
/*--FINAL DE INDUSTRIA--*/

/*--COMIENZO DE FORMULARIO DE PAGO--*/

#fecha-codigo {
display: flex;
}

.form-floating {
margin-left: 0.5em;
margin-right: 0.5em;
}

/*--COMIENZO DE FORMULARIO DE PAGO--*/

/*--COMIENZO DEL FOOTER--*/

footer {
text-align: center;
padding-top: 2em;
padding-bottom: 2em;
width: 100%;
height: 5em;
}

footer p {
    color: var(--color1);
}


/*--FINAL DEL FOOTER--*/

/*-----------FINAL DE HISTORIA-----------*/

