/*--AJUSTES GENERALES--*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --color0:  #6aba66;
    --color1: #ffffff;
    --color2: #e0e0e0;
    --color3: #000000;
    --color4: #cd3f3f;
   
}

/*-----------COMIENZO DE SOBRE NOSOTROS-----------*/

/*--COMIENZO DEL HEADER--*/

 header #header{
width: 100%;
text-align: center;
}

.navbar {
background-color: var(--color2);
position: fixed;
width: 100%;
}

.navbar .navbar-brand {
border-style: groove;
border-color: var(--color3);
width: 3em;
border-radius: 50%;
}

.navbar .collapse {
justify-content: center;
}

.navbar .collapse li{
margin-left: 2em;
margin-right: 2em;
}

#cnt-nosotros {
display: flex;
background-color: #e0e0e0;
height: 100vh;
align-items: center;
justify-content: center;
}

#cnt-nosotros img {
width: 50%;
}

#cnt-nosotros .text-img {
height: 15em;
padding: 1em;
text-align: right;  
}

/*--FINAL DEL HEADER--*/


/*-----------FINAL DE SOBRE NOSOTROS-----------*/

/*-----------COMIENZO DE HISTORIA-----------*/

/*--COMIENZO DEL HEADER--*/

#cnt-piezas {
    display: flex;
    background-color: #e0e0e0;
    padding-top: 3.5em;
    height: 50%;
    align-items: center;
    justify-content: center;
    }
    
    #cnt-piezas img {
    width: 50%;
    }
    
    #cnt-piezas .text-img {
    height: 15em;
    padding: 1em;
    text-align: right;  
    }

/*--FINAL DEL HEADER--*/

/*-----------FINAL DE HISTORIA-----------*/

/*-----------COMIENZO DE PIEZAS-----------*/

/*--COMIENZO DEL HEADER--*/

#cnt-piezas {
    display: flex;
    background-color: #e0e0e0;
    padding-top: 3.5em;
    height: 50%;
    align-items: center;
    justify-content: center;
    }
    
    #cnt-piezas img {
    width: 50%;
    }
    
    #cnt-piezas .text-img {
    height: 15em;
    padding: 1em;
    text-align: right;  
    }

/*--FINAL DEL HEADER--*/

/*--COMIENZO DEL CONTENIDO--*/

#contenido {
width: 100%;
text-align: center;
}


.card-body {
width: 100%;
text-align: left;
padding-left: 1em;
}

.frente {
display: flex;
margin-bottom: 0.5em;
padding-top: 1.5em;
}

.frente figure img {
width: 50%;
}

.varillas {
display: flex;
margin-top: 0.5em;
margin-bottom: 0.5em;
padding-top: 1.5em;
}

.varillas .card-body {
text-align: right;
padding-right: 1em;
}

.varillas figure img {
width: 50%;
}

.terminales {
display: flex;
margin-top: 0.5em;
padding-top: 1.5em;
}

.terminales figure img {
width: 50%;
}


/*--FINAL DEL CONTENIDO--*/

/*-----------FINAL DE PIEZAS-----------*/

